Basic to advance python practics sets

In [1]:
print("hello")

hello

In [8]:
# What are Literals?

# Literals are fixed values written directly in the source code
10
3.14
"Hello"
True

x = 10        # 10 is a literal
name = "Ram"  # "Ram" is a literal
print ("hello")
print (x)
print (name)

hello
10
Ram

In [16]:
# Types of Literals in Python

# Integer Literals
10
-5
0o27  # Octal literal (27 in octal = 23 in decimal)
0xFF  # Hexadecimal literal (FF in hex = 255 in decimal)

# Float Literals
3.14
-2.5
1.0e-5  # Scientific notation

# String Literals
"Hello"
'World'
"Python's string"

# Boolean Literals
# True
# False

0x1234
0xa7b6f

686959

built-in formate function():

In [ ]:
float(16/(float(3)))

'5.333333333333333'

In [31]:
format(float(16/(float(3))) , '1f')

'5.333333'

SIMPLE OPERATIONS ON NUMBERS :

In [35]:
12+23
50+25-40

35

In [36]:
12*5

60

In [37]:
(-30*4)+5

-115

In [40]:
# when we can devided by 0 in python , genrate the error
15/0

ZeroDivisionError: division by zero

In [39]:
0/15

0.0

In [ ]:
#divided by two  and more integers:
3*4/4

3.0

In [42]:
4*7*8/5

44.8

In [45]:
   #quotient and remainder : use floor division // and modulus % operators
78//5

15

In [46]:
78%5

3

In [47]:
1234.23//3.0

411.0

In [48]:
1234.23%3.0

1.2300000000000182

In [50]:
# basic concept of string , like how to write  string code in python 
print('hello') # using single quote

hello

In [51]:
print ("hello ramesh") # using double quote

hello ramesh

In [52]:
print ('''This is a multi-line string. beautifull weathers in india in  the curent times ''')

This is a multi-line string. beautifull weathers in india in  the curent times

In [53]:
# string literal concatenation 
print ( ' beautifull weather ' '.............' ' seems it would rains ')

 beautifull weather ............. seems it would rains

In [55]:
# string literal concatenation 
print ( ' beautifull weather ' '@' ' seems it would rains ')

 beautifull weather @ seems it would rains

In [56]:
# unicode string: A Unicode string can store characters from any language, symbols, and emojis.
u_str = u"Hello, üåç!"

In [57]:
text = "Hello"
hindi = "‡§®‡§Æ‡§∏‡•ç‡§§‡•á"
emoji = "üòä"

In [58]:
u"my name is ramesh."

'my name is ramesh.'

In [59]:
msg = "‡§Æ‡•á‡§∞‡§æ ‡§®‡§æ‡§Æ ‡§∞‡§Æ‡•á‡§∂ ‡§π‡•à"
print(msg)

‡§Æ‡•á‡§∞‡§æ ‡§®‡§æ‡§Æ ‡§∞‡§Æ‡•á‡§∂ ‡§π‡•à

In [60]:
heart = "\u2764"
print(heart)

‚ù§

In [61]:
print(ord("A"))

65

In [62]:
text = "‡§®‡§Æ‡§∏‡•ç‡§§‡•á"
encoded = text.encode("utf-8")
print(encoded)

b'\xe0\xa4\xa8\xe0\xa4\xae\xe0\xa4\xb8\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa5\x87'

Escape sequences:
some char ( like " , \) can not  be directly included in a string

In [64]:
print ('my ' name is ramesh ')

SyntaxError: unterminated string literal (detected at line 1) (3182676565.py, line 1)

In [65]:
print ('my  name is ramesh ')

my  name is ramesh

In [70]:
print(' what\'s your name ')

 what's your name

Note: 
An escape sequence is a combination of characters that is translate into another character or a sequence of character  that  may be difficult or represent directly

Common Escape Sequences
Escape	Meaning
\n	New line
\t	Tab space
\\	Backslash
\'	Single quote
\"	Double quote
\r	Carriage return
\b	Backspace

In [71]:
# similer code in double ""
print ("the boy replies ,  \" my name is ramesh \" ")

the boy replies ,  " my name is ramesh "

In [74]:
print ("the boy replies ,  \" my name is ramesh \" ")

the boy replies ,  " my name is ramesh "

In [75]:
print ("today is 15th agust .\n india became independent on this day .")

today is 15th agust .
 india became independent on this day .

In [76]:
print ("today is 15th agust .\t india became independent on this day .")

today is 15th agust .	 india became independent on this day .

In [77]:
print ("today is 15th agust .\ india became independent on this day .")

today is 15th agust .\ india became independent on this day .

In [78]:
print("Hello\nWorld")

Hello
World

In [79]:
print("Name\tAge")

Name	Age

In [80]:
print("He said \"Hello\"")

He said "Hello"

In [81]:
print("Path: C:\\Users\\Ramesh")

Path: C:\Users\Ramesh

In [82]:
print("\u2764")

‚ù§

In [84]:
print ("\\")
print ("hello\\ mr ramesh ")

\
hello\ mr ramesh

In [87]:
print ("\'")
print ("hello bhai \" sun  pagal hai kya ")

'
hello bhai " sun  pagal hai kya

In [90]:
print("hello sun kya kar raha hai " "\n kaha jaane ka plan ")

hello sun kya kar raha hai
 kaha jaane ka plan

In [92]:
print("hii cutie \a kya haal hai ")

hii cutie  kya haal hai

In [93]:
print("aur suna bhai  \a kya haal hai ")

aur suna bhai   kya haal hai

In [95]:
print("hello bhai\f please help me ")

hello bhai please help me

In [97]:
print("hello bhai\t please help me ")

hello bhai	 please help me

In [98]:
print("\056")

.

In [99]:
print ("\x87")

¬á

What is a Raw String?

A raw string ignores escape sequences and treats backslashes as normal characters.
It is written using r or R.

In [100]:
print("C:\new\test")

C:
ew	est

In [ ]:
print(r"C:\new\test")

path = r"C:\Users\Ramesh\Documents\data.txt"
print(path)

C:\new\test
C:\Users\Ramesh\Documents\data.txt

In [107]:
print(R"what\'s your name ")

what\'s your name

In [114]:
print(R"what ',.s your name  ")

what ',.s your name

In [126]:
print(r"my name is ramesh  kumar  can you help me please , love you bhai  ")

my name is ramesh  kumar  can you help me please , love you bhai

String formating:
it is used  to control the display of string 

syntax: format(value, format_specifiers)

In [122]:
format('hello','20')

'hello               '

In [123]:
format('hello','>20')

'               hello'

In [124]:
format('hello','<20')

'hello               '

In [125]:
format('hello','^20')

'       hello        '

In [128]:
print('hello', format('- ','-<10'),'ramesh')

hello - -------- ramesh

In [129]:
print('hello', format('- ','-<20'),'ramesh')

hello - ------------------ ramesh

In [130]:
print('hello', format('- ','-<0'),'ramesh')

hello -  ramesh

In [131]:
print('hello', format('- ','-<50'),'ramesh')

hello - ------------------------------------------------ ramesh

In [134]:
print('hello', format('- ','@>20'),'ramesh')

hello @@@@@@@@@@@@@@@@@@-  ramesh

In [135]:
print('hello', format('- ','-^10'),'ramesh')

hello ----- ---- ramesh

In [138]:
print('hello', format('- ','$^50'),'ramesh')

hello $$$$$$$$$$$$$$$$$$$$$$$$- $$$$$$$$$$$$$$$$$$$$$$$$ ramesh

What is string slicing?

String slicing means

üëâ extracting a part of a string using indexes.

string[start : end : step]

In [ ]:
x= "python is very easy language"
print(x)
print(x[0])
print(x[0:1])
print(x[1:3])
print(x[8:])
print(x[:8])
print(x[1:14:3])
print(x[1:10])
print(x[1:10:2])
print(x[-2])
print(x*2)
print(x+" python is easy copare to other programing language ")
print(x[::2])

python is very easy language
p
p
yt
s very easy language
python i
yoivy
ython is
yhni
g
python is very easy languagepython is very easy language
python is very easy language python is easy copare to other programing language
pto svr aylnug

Creat A varibles :

variables /identifires >> placeholder whare wee keep variety of data which we can use to write logics

Rules of definig a variables>> A variable start with a latter  or underscore or character 

#number >> integer /flote 

#char>> string inpython 

#Ture /False..>> boolean 

#none 

#complex number


to create a varible python , just assign to the identifiers using the equal to sign 

Note: (python is an case sensitive )

_my_var , num1 , r , var_12 , etc are vailed identifiers 

1num ( starting with digits ) , my-var ( punchuation and special character are not allowed  )

In [10]:
# data types 
import keyword 
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
num = 12
print (num)
float_num = 12.12
ch='a'
str = "ramesh"
print(float_num)
print(ch)
print(str)

12
12.12
a
ramesh

In [1]:
a= 12
b= 34
str = "ramesh"
print(str)
print(a+b)
c=323
print(a+b+c)
print(a-b)
print(a*b)

ramesh
46
369
-22
408

In [2]:
print(b/a)
print(b//a)
print(b % a)
print(b**a)

2.8333333333333335
2
10
2386420683693101056

In [4]:
# create variables of different literal types and print their values
int_var = 10
float_var = 3.14    
str_var = "Hello, World!"
bool_var = True
print(int_var)
print(float_var)
print(str_var)
print(bool_var)

10
3.14
Hello, World!
True

In [5]:
#data types of identifiers
int_var = 10
float_var = 3.14
str_var = "Hello, World!"
bool_var = True
nums = [1, 2, 3]
data = {'name': 'Ramesh', 'age': 30}
print(int_var) 
print(float_var)
print(str_var)
print(bool_var)     
print(nums)
print(data)

10
3.14
Hello, World!
True
[1, 2, 3]
{'name': 'Ramesh', 'age': 30}

Input operation's

In [9]:
#program to read varibles from user and print them
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello, " + name + "!")
# print(age)
print("You are " + age + " years old.")

Hello, ramesh!
You are 22 years old.

In [11]:
c= " 1.02"
type(c)
s= 2.2
type(s)
s= False 
type(s)
True-False  
True+False 
True*False

0

In [12]:
#comment line in python
# This is a single-line comment    
''' This is a multi-line comment.
    It can span multiple lines.         
'''
print("Hello, World!")  # This is an inline comment

Hello, World!

In [14]:
# this is a comment ,,,,, this is way ti define comment 
'''rameshkumar
colleage 
univrersity'''
print("ramesh kumar !")  # This is an inline comment

ramesh kumar !

What are reserved words?

Reserved words (keywords) are predefined words in Python that have a
special, fixed meaning.

üëâ They cannot be used as variable, function, or identifier names.

Note:

all the python keyword contains lowercase letters only

In [15]:
import keyword
print(keyword.kwlist)
#Reserved words (keywords) are predefined words in Python that have a
#special, fixed meaning.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
age=22
print(age)
print("you can vote ")

22
you can vote

Note:

programming tips:

use a single tab for each indentation lavel

In [11]:
age=17    
 print("you cannot vote")

^

IndentationError: unexpected indent (2044647108.py, line 2)

Operatoes and expressions :

In [12]:
# Arithmetic operators
a=100
b=200
c=a+b
print(c)
print(a-b)
print(a*b)
print(b/a)
print(b//a)
print(b % a)
print(b**a)

300
-100
20000
2.0
2
0
126765060022822940149670320537600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [14]:
a = 10
b = 3

print("a =", a)
print("b =", b)
print("-" * 30)

# Addition
print("Addition (a + b) =", a + b)

# Subtraction
print("Subtraction (a - b) =", a - b)

# Multiplication
print("Multiplication (a * b) =", a * b)

# Division
print("Division (a / b) =", a / b)

# Floor Division
print("Floor Division (a // b) =", a // b)

# Modulus
print("Modulus (a % b) =", a % b)

# Power
print("Power (a ** b) =", a ** b)

a = 10
b = 3
------------------------------
Addition (a + b) = 13
Subtraction (a - b) = 7
Multiplication (a * b) = 30
Division (a / b) = 3.3333333333333335
Floor Division (a // b) = 3
Modulus (a % b) = 1
Power (a ** b) = 1000

In [13]:
#compresion operators
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
#Assignment operators 
x=5
print(x)
x += 3  # Equivalent to x = x + 3
print(x)

5
8

In [20]:
x = 10
x += 5   # x = x + 5
print(x)

x = 10
x -= 3   # x = x - 3
print(x)

15
7

In [22]:
x = 10
x *= 2   # x = x * 2
print(x)

20

In [23]:
x = 10
x /= 2   # x = x / 2
print(x)

5.0

In [24]:
x = 10
x //= 3  # x = x // 3
print(x)

3

In [25]:
x = 10
x %= 3   # x = x % 3
print(x)

1

In [28]:
#bitwise operators
a = 5
b = 3
print("AND:", a & b)
print("OR:", a | b)
print("XOR:", a ^ b)
print("NOT a:", ~a)
print("Left Shift:", a << 1)
print("Right Shift:", a >> 1)

AND: 1
OR: 7
XOR: 6
NOT a: -6
Left Shift: 10
Right Shift: 2

In [29]:
#logical operators
a = True
b = False
print("a AND b:", a and b)
print("a OR b:", a or b)
print("NOT a:", not a)

a AND b: False
a OR b: True
NOT a: False

In [32]:
a=90
b= 85
print(a==90  and a<b)
print(a and b)

False
85

In [ ]:
# Student details
age = 19
marks = 72
attendance = 80
fees_paid = True

# -----------------------------------
# 1Ô∏è AND operator
# Condition:
# Student pass tab hoga jab:
# marks >= 40 AND attendance >= 75
# -----------------------------------

is_pass = (marks >= 40) and (attendance >= 75)
print("Pass Status:", is_pass)

# -----------------------------------
# 2Ô∏è OR operator
# Scholarship milegi agar:
# marks >= 75 OR attendance >= 90
# -----------------------------------

scholarship = (marks >= 75) or (attendance >= 90)
print("Scholarship Eligible:", scholarship)

# -----------------------------------
# 3Ô∏è NOT operator
# NOT condition ko reverse karta hai
# -----------------------------------

is_fail = not is_pass
print("Fail Status:", is_fail)

# -----------------------------------
# 4Ô∏è Multiple logical operators together
# Exam allow tab hoga jab:
# age >= 18 AND fees_paid == True AND attendance >= 75
# -----------------------------------

exam_allowed = (age >= 18) and fees_paid and (attendance >= 75)
print("Exam Allowed:", exam_allowed)

# -----------------------------------
# 5Ô∏è Logical operators with numbers
# AND ‚Üí pehla False ya last True value return karta hai
# OR  ‚Üí pehla True value return karta hai
# -----------------------------------

print(10 and 20)   # dono True ‚Üí last value
print(0 and 20)    # pehla False ‚Üí 0
print(10 or 0)     # pehla True ‚Üí 10
print(0 or 5)      # 5

# -----------------------------------
# 6Ô∏è NOT with expression
# -----------------------------------

print(not (marks > 50))   # False kyunki marks > 50 True hai

Pass Status: True
Scholarship Eligible: False
Fail Status: False
Exam Allowed: True
20
0
10
5
False

In [34]:
a = 10
b = 5

print(a > 5 and b < 10)
print(a > 5 or b > 10)
print(not(a > 5))

True
True
False

In [35]:
x=12
y=5
print(x>10 and y<10)
print(x>10 or y>10) 
print(not(x>10))

True
True
False

What are membership operators?

Membership operators check whether a value exists in a sequence or collection.

two types membership operatoes 1- in  , 2- not in operatoes 

it is apply on list , tuple , string

In [37]:
# membership operators

my_list = [1, 2, 3, 4, 5]
print(3 in my_list)      # True
print(6 in my_list)      # False

string = "Hello, World!"
print('H' in string)     # True

True
False
True

In [38]:
# List of students
students = ["Ramesh", "Amit", "Suresh", "Neha"]

# Check if student exists
print("Ramesh" in students)      # True ‚Üí Ramesh list me hai
print("Rahul" in students)       # False ‚Üí Rahul list me nahi hai

# -----------------------------------
# Using NOT IN
# -----------------------------------

print("Rahul" not in students)   # True
print("Neha" not in students)    # False

# -----------------------------------
# Membership with string
# -----------------------------------

course = "Python Programming"

print("Python" in course)        # True ‚Üí substring hai
print("Java" not in course)      # True

# -----------------------------------
# Membership with tuple
# -----------------------------------

marks = (45, 67, 89, 90)

print(67 in marks)               # True
print(100 not in marks)          # True

# -----------------------------------
# Membership with set
# -----------------------------------

subjects = {"Math", "Physics", "Chemistry"}

print("Math" in subjects)        # True
print("Biology" not in subjects) # True

True
False
True
False
True
True
True
True
True
True

What are identity operators?

Identity operators check whether two variables refer to the same object in memory.

python support tow types identity operators 

1- is 

2- is not

In [39]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   # True
print(a is b)   # False

True
False

In [ ]:
# -------------------------------
# 1Ô∏è Integer identity
# -------------------------------
a = 10
b = 10

# Python small integers ko cache karta hai
print(a is b)        # True ‚Üí same memory
print(a == b)        # True ‚Üí same value


# -------------------------------
# 2Ô∏è Larger integers
# -------------------------------
x = 1000
y = 1000

print(x is y)        # May be False
print(x == y)        # True

# -------------------------------
# 3Ô∏è List identity
# -------------------------------
list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 == list2)    # True ‚Üí same data
print(list1 is list2)    # False ‚Üí different memory

# -------------------------------
# 4Ô∏è Reference copy
# -------------------------------
list3 = list1            # No new list created
print(list1 is list3)    # True

# -------------------------------
# 5Ô∏è Proper copy
# -------------------------------
list4 = list1.copy()
print(list1 == list4)    # True
print(list1 is list4)    # False

# -------------------------------
# 6Ô∏è Identity with None (BEST PRACTICE)
# -------------------------------
value = None

print(value is None)     # Correct way
print(value == None)     # Works but not recommended

# -------------------------------
# 7Ô∏è is not operator
# -------------------------------
print(list1 is not list2)  # True

True
True
False
True
True
False
True
True
False
True
True
True

In [51]:
string =("my name is ramesh kumar i from  bareilly pilibhit uttar pradesh india")
print(string)
print("ramesh kumar" is not  string)
print("delhi" is string)
# --- IGNORE ---
print("india" is string )
print("india " is not  string )

my name is ramesh kumar i from  bareilly pilibhit uttar pradesh india
True
False
False
True

<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\rames\AppData\Local\Temp\ipykernel_19600\3683953071.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("ramesh kumar" is not  string)
C:\Users\rames\AppData\Local\Temp\ipykernel_19600\3683953071.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("delhi" is string)
C:\Users\rames\AppData\Local\Temp\ipykernel_19600\3683953071.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("india" is string )
C:\Users\rames\AppData\Local\Temp\ipykernel_19600\3683953071.py:7: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("india " is not  string )

In [54]:
# string operations 
# conatenations 

a = "Hello"
b = "Python"

result = a + " " + b
print(result)   # Hello Python

Hello Python

In [55]:
print("missile man of india " + " - Dr. APJ Abdul Kalam")

missile man of india  - Dr. APJ Abdul Kalam

In [58]:
print("prime minister of india " + " - Narendra Modi")

prime minister of india  - Narendra Modi

In [60]:
print("python 3,13"+ "23334")

python 3,1323334

In [61]:
print ("python"+12)

TypeError: can only concatenate str (not "int") to str

In [62]:
print("python" + "3.13")

python3.13

In [63]:
name = "Ramesh"
course = "Python"

print("Name: " + name)
print("Course: " + course)

Name: Ramesh
Course: Python

In [66]:
first = "Data"
second = "Science"
year = 2026

# Using +
full_name = first + " " + second
print(full_name)

Data Science

In [67]:
#multiplying two string 
print("python " * 3)

python python python

In [70]:
print("python " * 10 )

python python python python python python python python python python

In [ ]:
# multiplying a string  with a foating ponit number
print("python " * 2.5 ) #Rules

#  String √ó Integer ‚Üí Allowed

#  String √ó String ‚Üí Not allowed

#  String √ó Float ‚Üí Not allowed

TypeError: can't multiply sequence by non-int of type 'float'

In [2]:
# write a program to concatenate two strings and multiply a string by an integer
str1 = "Data"
str2 = "Science"
times = 3
print(str1 + " " + str2)
print(str1 * times)

Data Science
DataDataData

In [3]:
# perform addition and multiplication on string variables
print("python " + "programming")
print("python " * 4)

python programming
python python python python

In [ ]:
#other  data types 
#tuple 
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [9]:
tup1 = (10, 20, 30)
tup2 = (40, 50, 60)
print(tup1 + tup2)
print(tup1 * 2)
print(tup2 * 3)
print(tup1[1])
type(tup1)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30)
(40, 50, 60, 40, 50, 60, 40, 50, 60)
20

tuple

In [17]:
#program to determinate operations on a tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6,'a',"ramesh")
tupel3= (7.5,8.5)
print(tuple1 + tuple2)
print(tuple1 * 2)
print(tuple1[0])
print(tuple2[3])
type(tuple2)
# --- IGNORE ---
#concatination 
print(tuple1 + tuple2+ tupel3)

(1, 2, 3, 4, 5, 6, 'a', 'ramesh')
(1, 2, 3, 1, 2, 3)
1
a
(1, 2, 3, 4, 5, 6, 'a', 'ramesh', 7.5, 8.5)

In [18]:
#list
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [24]:
#program to demonstrate operations on list
list1 = [10, 20, 30,'ab','ramesh']
list2 = [40, 50, 60,'b',"kumar"]
print(list1 + list2)
print(list1 * 2)    
print(list2 * 3)
print(list1[1])     
print(list2[4])
print(list1[:2])   
print(list2[:3])
print(list1[-1])
print(list2[-2])
print(list1*2)
print(list2*3)
type(list1)
type(list2)

[10, 20, 30, 'ab', 'ramesh', 40, 50, 60, 'b', 'kumar']
[10, 20, 30, 'ab', 'ramesh', 10, 20, 30, 'ab', 'ramesh']
[40, 50, 60, 'b', 'kumar', 40, 50, 60, 'b', 'kumar', 40, 50, 60, 'b', 'kumar']
20
kumar
[10, 20]
[40, 50, 60]
ramesh
b
[10, 20, 30, 'ab', 'ramesh', 10, 20, 30, 'ab', 'ramesh']
[40, 50, 60, 'b', 'kumar', 40, 50, 60, 'b', 'kumar', 40, 50, 60, 'b', 'kumar']

list

In [25]:
#dictionary
my_dict = {'name': 'Ramesh', 'age': 30, 'city': 'Bareilly'}
print(my_dict)

{'name': 'Ramesh', 'age': 30, 'city': 'Bareilly'}

In [ ]:
#program to demonstrate operations on dictionary
dict1 = {'name': 'Ramesh', 'age': 30}   
dict2 = {'city': 'Bareilly', 'country': 'India'}
print(dict1)
print(dict2)
print(dict1.update(dict2))

{'name': 'Ramesh', 'age': 30}
{'city': 'Bareilly', 'country': 'India'}
None

In [28]:
#write a program to demonstrate operations on dictionary    
dictA = {'name': 'Ramesh', 'age': 30}
dictB = {'city': 'Bareilly', 'country': 'India'}
dict3={'sirname':'kumar','hobby':'cricket'}
print(dictA)
print(dictB)   
print(dictA.update(dictB))
print(dictA.update(dict3))
# --- IGNORE ---
# --- IGNORE ---

{'name': 'Ramesh', 'age': 30}
{'city': 'Bareilly', 'country': 'India'}
None
None

In [31]:
# type conversion 
# it is a two typees 
# 1 implicit type conversion -( done automatically by python)
# 2 explicit type conversion -( done manually by programmer)
# implicit type conversion
x = 10        # Integer
y = 3.5       # Float    
z = x + y     # x is converted to float
print("Value of z:", z)    
x= 10 
print("x is type of", type(x))
y= 3.5
print("y is type of", type(y))     
z= x + y
print("z is type of", type(z))
print(z)
type(z)

Value of z: 13.5
x is type of <class 'int'>
y is type of <class 'float'>
z is type of <class 'float'>
13.5

float

In [45]:
#  without converting the data types of the input numbers
a = input("Enter first number: ")
b = input("Enter second number: ")
sum = a + b
print(sum)
type(sum)

4.212.0

str

In [43]:
# using int for data type conversion of the input numbers
a = int(input("Enter first number: "))  
b = int(input("Enter second number: "))
sum = a + b
print(sum)
print(a+b)

15
15

In [46]:
a = 10        # int
b = 2.5       # float

c = a + b     # int + float ‚Üí float
print(c)
print(type(c))

12.5
<class 'float'>

In [48]:
a= "10"      # str
b= 20        # int  
c= a + str(b)  # str + str ‚Üí str
print(c)
print(type(c))

1020
<class 'str'>

Explicit Type Conversion (Manual)
done by manually  using function 
int()

float()

str()

bool()

list()

tuple()

set() 

 etc.....

In [49]:
x = "10"
y = int(x)

print(y)
print(type(y))

10
<class 'int'>

In [52]:
a = "3.54"
b = float(a)

print(b)
print(type(b))

3.54
<class 'float'>

In [54]:
a = "3.14"
b = str(a)

print(b)
print(type(b))

3.14
<class 'str'>

In [65]:
num = 100
name = "Ramesh"
text = str(num)

print(text)
print(type(text))
b= float(num)
print(b)
print(type(b))
c=list(name)
print(c)
print(type(c))

100
<class 'str'>
100.0
<class 'float'>
['R', 'a', 'm', 'e', 's', 'h']
<class 'list'>

In [71]:
print(bool(0))        # False
print(bool(1))        # True
print(bool(""))       # False
print(bool("Hello"))  # True
print(bool([]))       # False
print(bool([1, 2, 3]))  # True
print(bool(None))     # False
print(bool(3.14))     # True
print(bool(-5))       # True
print(bool({}))       # False
print(bool({'a': 1})) # True

False
True
False
True
False
True
False
True
True
False
True

In [ ]:
text = "Python"

print(list(text))
print(tuple(text))
print(set(text))

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')
{'o', 'P', 't', 'n', 'y', 'h'}
<built-in method fromkeys of type object at 0x00007FFF43414A90>

In [73]:
pairs = [("a", 1), ("b", 2)]
d = dict(pairs)
print(d)

{'a': 1, 'b': 2}

In [76]:
a = 10
b = 3.5

# implicit
result = a + b
print(result, type(result))

# explicit
x = int(b)
y = float(a)
z = str(a)
flag = bool(a)

print(x, type(x))
print(y, type(y))
print(z, type(z))
print(flag, type(flag))

13.5 <class 'float'>
3 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>
True <class 'bool'>

In [78]:
int("abc")     #  ValueError
int(3.9)       #  3
float("ten")   #  Error

ValueError: invalid literal for int() with base 10: 'abc'

In [79]:
int (2.21)
round (2.56)

3

In [80]:
int(2.12)

2

In [81]:
round(2.56)

3

In [82]:
help(round    )

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [91]:
 #write a program to enter a number  and display its hex and octal equivalent and its square root
num = int(input("Enter a number: "))
print("hexadecimal of " + str(num) + " : " + str(hex(num)))
print ("octal of " + str(num) + " : " + str(oct(num)))
print("square root of " + str(num) + " : " + str(num**0.5))

hexadecimal of 200 : 0xc8
octal of 200 : 0o310
square root of 200 : 14.142135623730951

In [92]:
# write a program  to read and print  values of varibles of different data types
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Hello, " + name + "!")
print("You are " + str(age) + " years old.")

Hello, ramesh!
You are 22 years old.

In [2]:
num = int(input("Enter a number: "))
amt = float(input("Enter an amount: "))
pi = float(input("Enter the value of pi: "))
code =str(input("Enter your code: "))
population_of_india = int(input("Enter the population of india : "))
msg=str(input("inter the value of message : "))
# print 
print("num  =" + str(num) + "\n amt = "+ str(amt)+ "\n code = "+ str(code) +"\n poputation_of_india ="+ str(population_of_india)+"\nMessage="+str(msg) )

num  =5
 amt = 45.0
 code = l
 poputation_of_india =4500000000
Message=lol

In [6]:
#write a program to perform addition , subtraction , multiplication , division , integer division and modulo division on two piont 
num1 = int(input("enter the two numer :"))
num2 = int(input("enter two numbers :"))
add_res = num1+num2
sub_res = num1-num2
mul_res = num1*num2
idiv_res = num1/num2 
modiv_res = num1%num2
fdiv_res = float ( num1 )/(num2)
print(add_res)
print(sub_res)

123
33