Python Data Types :

A data type defines what kind of value a variable holds.

All Data Types Used in Python

Python provides several built-in data types, grouped into categories:

Main Categories:

Numeric → int, float, complex

Boolean → bool

Text → str

Sequence → list, tuple, range

Mapping → dict

Set → set, frozenset

Binary → bytes, bytearray, memoryview

Special → NoneType

 Most Frequently Used Types

int

float

str

list

tuple

dict

set

bool

None

These cover almost all real-world Python programs.

1: Integer (int)

Integer is a numeric data type which represents whole numbers without decimal.
It can be positive, negative or zero.

a = 10
b = -5

2: Float (float)

Float is a numeric data type used to represent numbers with decimal points.

x = 3.14
y = 2.0


3: Complex (complex)

Complex data type represents numbers in the form a + bj,
where a is real part and b is imaginary part.

c = 2 + 3j

4: Boolean (bool)

Boolean data type represents logical values True or False.

a = True
b = False


5: String (str)

String is an ordered sequence of characters.
It is defined within single quotes (' '), double quotes (" ") or triple quotes.

s = "Python"

6: List (list)

List is an ordered sequence of items same as a tuple,
but it is mutable.
It is defined within square brackets [],
where items are separated by commas.

lst = [1, 2, 3, 4]

7: Tuple (tuple)

Tuple is an ordered sequence of items same as a list,
but it is immutable.
It is defined within parentheses (),
where items are separated by commas.

t = (1, 2, 3)

8: Set (set)

Set is an unordered collection of unique items.
It is defined within curly braces {}.

s = {1, 2, 3}

9: Dictionary (dict)

Dictionary is an unordered collection of key-value pairs.
It is defined within curly braces {},
where each key and value are separated by a colon (:).

d = {"name": "Ramesh", "age": 21}

10: Range (range)

Range represents a sequence of numbers commonly used in loops.

r = range(1, 5)

11: Bytes (bytes)

Bytes is an immutable sequence of integers (0–255).

b = bytes([65, 66, 67])

12: Bytearray (bytearray)

Bytearray is same as bytes but mutable.

ba = bytearray([1, 2, 3])

13: NoneType (None)

None represents the absence of a value.

x = None

In [13]:
# int
a = 10
print(a, type(a))
b= 23 
z= a+b
print(z,type(z))
print()
# float
b = 3.14
print(b, type(b))
c= 34.00124
d= c+b
print(d, type(d))
print()
# complex
c = 2 + 3j
print(c, type(c))
print()
v= 2+4j 
s= c+v 
print(c+v, type(s))

10 <class 'int'>
33 <class 'int'>

3.14 <class 'float'>
37.14124 <class 'float'>

(2+3j) <class 'complex'>

(4+7j) <class 'complex'>

In [ ]:
#string
name = "Ramesh"
print(name, type(name))

# multi-line string
msg = """Hello
Python"""
print(msg)

Ramesh <class 'str'>
Hello
Python

In [ ]:
# tuple
tup = (1, 2, 3, "AI")
print(tup, type(tup))

(1, 2, 3, 'AI') <class 'tuple'>

In [3]:
# list
lst = [1, 2, 3, "Python", 3.5]
print(lst, type(lst))

lst.append(100)
print(lst)

[1, 2, 3, 'Python', 3.5] <class 'list'>
[1, 2, 3, 'Python', 3.5, 100]

In [4]:
#set
s = {1, 2, 3, 3, 4}
print(s, type(s))

{1, 2, 3, 4} <class 'set'>

In [6]:
#dictionary

student = {
    "name": "Ramesh",
    "age": 22,
    "course": "AI & DS"
}

print(student, type(student))
print(student["name"])

{'name': 'Ramesh', 'age': 22, 'course': 'AI & DS'} <class 'dict'>
Ramesh

In [7]:
# none_type
x = None
print(x, type(x))

None <class 'NoneType'>

In [9]:
#bytes
b = bytes([65, 66, 67])
print(b, type(b))

b'ABC' <class 'bytes'>

In [11]:
# bytearray

ba = bytearray([65, 66, 67])
ba[0] = 90
print(ba, type(ba))

bytearray(b'ZBC') <class 'bytearray'>

In [13]:
# range

r = range(1, 6)
print(list(r), type(r))

[1, 2, 3, 4, 5] <class 'range'>

In [15]:
# frozenset

fs = frozenset([1, 2, 3, 3])
print(fs, type(fs))

frozenset({1, 2, 3}) <class 'frozenset'>

In [19]:
help(list)
help(dict)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [17]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [1]:
print(type(10))
print(type(3.5))
print(type(2+3j))
print(type(True))
print(type("Python"))
print(type([1,2]))
print(type((1,2)))
print(type({1,2}))
print(type({"a":1}))
print(type(range(5)))
print(type(bytes([65])))
print(type(bytearray([1])))
print(type(None))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'range'>
<class 'bytes'>
<class 'bytearray'>
<class 'NoneType'>

Start Decision control statements:

Types of Decision Control Statements in Python

if statement – checks a single condition

if-else statement – handles two possible outcomes

if-elif-else statement – checks multiple conditions

Nested if statement – if statement inside another if

1. if statement:-

if condition:

    statement

working :

Condition True → code run

Condition False → skip

2. if-else Statement

The if-else statement executes one block if condition is true and another block if it is false.

 Syntax:

if condition:

    statement

else:

    statement


3. if-elif-else Statement

Used when multiple conditions need to be checked.

Syntax: 

if condition1:

    statement

elif condition2:

    statement

else:

    statement

4. Nested if Statement


When an if statement is written inside another if statement.

In [3]:
#if statements :
age = 20

if age >= 18:
    print("You are eligible to vote")

You are eligible to vote

In [7]:
a= 1200

if a>= 1000:
     print("buying car ")

buying car

In [12]:
num = 10

if num > 0:
    print("Positive number")

Positive number

In [16]:
# write a program  to determine  whether persion is eligible to vote :
age = int(input("enter the age "))
if(age>=18):
     print("are  you eligible for vote ")

are  you eligible for vote

In [ ]:
#if-else statements:

a= 1200

if a<= 1000:
     print("buying car ")
else:
     print(" are you not eligible for buying car ")

 are you not eligible for buying car

In [11]:
a= 1200

if a>= 200:
     print("buying car ")
else:
     print(" are you not eligible for buying car ")

buying car

In [19]:
# write a program  to determine whether a  parsion is eligible for vote or not , if he is not eligible  , display  how many years are left to be eligible 

age =  int(input("enter the age "))
if( age >=18):
     print("you are eligible to vote ")
else:
      yer = 18- age 
      print("you have to wait for another " + str(yer) + "years to cast your vote ")

you have to wait for another 8years to cast your vote

In [22]:
# write a program to  find the larger two numbers 
a= int(input("enter the value of a :"))
b= int(input("enter the value of b :"))
if (a>b):
     large= a
else:
     large=b
     print("large =",large)

large = 87

In [30]:
# write a program to find whether the given number is even or odd
# condition is num%2 = 0 

num = int(input("enter the number"))
if(num%2==0):
     print("num is even ")
else:
     print("num is odd")

num is even

In [37]:
#write a program to find whether a given years is a leap year or not 
year = int(input("enter aby years "))
if((year%400==0 and year%100) or (year%400==0)):
     print("leap year")
     
else:
     print("not a leap year")

not a leap year

In [ ]:
# if-elif-else statements :

age = 20
citizen = True

if age >= 18:                  
    print("Age condition passed")

    if citizen:                
        print("Eligible for vote")
    else:
        print("Citizenship required")

else:
    print("Under age")

Age condition passed
Eligible for vote

In [50]:
# write a program to test whether a number enteredd by user is negative , positive  , or equal to zero 
num= int(input("enter any numer"))
if(num==0):
     print("the value is equal to zero ")
elif(num>0):
     print("number is positive ")
else:
     print("number is negative")

number is negative

In [56]:
#nested if :
num= int(input("enter any number from 0-30: "))
if(num>=0 and num<=10):
     print("it is in the range 0-10")
     if(num>=10  and num<=20):
          print("it is in the range 10-20")
          if(num>=20 and num<=30):
               print("it is  in the range 20-30")

In [60]:
# write a program to find the greatest number from three numbers :

num1 =int(input("inter the first number "))
num2 =int(input("inter the 2nd number "))
num3 =int(input("inter the 3rd number "))
if(num1>num2):
     if(num1>num3):
          print(num1,"is grater then ", num2 , "and ", num3)
     else:
          print(num3, "is grater than ", num1, "and ",num2)
elif(num2>num3):
     print(num2, "is greater than ", num1 , "and ", num3)
else:
 print("the three number is equal ")

the three number is equal

In [62]:
name = input("Please enter your name")
email = input("Please enter your email")
password = input("Please eneter your password")

if name == "":
    print("Please enter a valid name, can not be empty")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 0:
            print("No password entered, pls provide a valid password")
        else:
            print("Login/registration is successfull")

Login/registration is successfull

In [63]:
is_vip = False
age = 15
if is_vip:
    if age >=18:
        if age < 65:
            print("welcome to vip customer")
        else: 
            print("You are vip and very imp. YOu are eligible for senior citizen discount")
    else:
        print("Vip staus is only for adult")
else:
    print("You are not a vip customer and will be charged a regular price")

You are not a vip customer and will be charged a regular price

Basic loops:

A loop is used to execute a block of code repeatedly as long as a condition is true.

Types of Loops in Python

1️ while loop

2️ for loop

3 nested loop

1. while loop:

Definition

While loop tab tak code repeat karta hai jab tak condition true hoti hai.

 Syntax

while condition:
    statement

2.  for loop

Definition

For loop kisi sequence (list, string, range) ke elements par iterate karta hai.

 Syntax

for variable in sequence:
    statement

3. nested loop

A nested loop is a loop inside another loop.

Outer loop controls repetitions

Inner loop executes fully for each outer iteration

Key Points

Inner loop completes first

Used in pattern printing, matrices, tables

Can increase time complexity

for i in range(1, 4):
  
    for j in range(1, 3):

        print(i, j)


What is range()?

range() is a built-in Python function used to generate a sequence of numbers.

Syntax:

range(start, stop, step)

In [2]:
#while loop:

i = 1

while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [3]:
# while loop 
n = 5
i = 1
sum = 0

while i <= n:
    sum = sum + i
    i += 1

print("Sum =", sum)

Sum = 15

In [5]:
# break terminates/exits the loop
#The condition is met it will break loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1
    if i == 10:
        break
else:
    print("This will be executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will be executed when the while is run successfuly without any break

In [14]:
n= 9
i=5 
while i < n:
     print (i)
     i= i+2 
     if i==5:
          break
else:
     print( " this will be execut without any break ")

5
7
 this will be execut without any break

In [22]:
#continue >> skips the iteration

n = 10
i = 1
while i < n:
    i = i+1
    if i == 9:
        continue
    print(i)
else:
    print("This will be executed when the while is run successfuly without any break")

2
3
4
5
6
7
8
10
This will be executed when the while is run successfuly without any break

In [23]:
#write a program to calculate the sum and average of  first 10 number 
i=0
s=0
while(i<=10):
     s= s+i
     i=i+1
     avg = float(s )/10
     print("the sum of first 10 numbers is :",s)
     print("the average of first 10 numbers is :",avg)

the sum of first 10 numbers is : 0
the average of first 10 numbers is : 0.0
the sum of first 10 numbers is : 1
the average of first 10 numbers is : 0.1
the sum of first 10 numbers is : 3
the average of first 10 numbers is : 0.3
the sum of first 10 numbers is : 6
the average of first 10 numbers is : 0.6
the sum of first 10 numbers is : 10
the average of first 10 numbers is : 1.0
the sum of first 10 numbers is : 15
the average of first 10 numbers is : 1.5
the sum of first 10 numbers is : 21
the average of first 10 numbers is : 2.1
the sum of first 10 numbers is : 28
the average of first 10 numbers is : 2.8
the sum of first 10 numbers is : 36
the average of first 10 numbers is : 3.6
the sum of first 10 numbers is : 45
the average of first 10 numbers is : 4.5
the sum of first 10 numbers is : 55
the average of first 10 numbers is : 5.5

In [4]:
# write a program to print 20 horizontal asterisks (*)
i= 1
while(i<=20):
     print("*",end=" ")
     i= i+1

* * * * * * * * * * * * * * * * * * * *

In [ ]:
# for loops 
for i in range(1,5):
    print(i)

1
2
3
4

In [19]:
#for loops >>iterate over a sequence of elements >> strings, list
for i in "pwskills":
    print(i)

p
w
s
k
i
l
l
s

In [20]:
a = "pwskills"
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [21]:
l = [1,2, "Ajay", "pwskills"]
for i in l:
    print(i)

1
2
Ajay
pwskills

In [22]:
for i in l:
    print(i)
else:
    print("This will be executed when for loop ends without a break statment")

1
2
Ajay
pwskills
This will be executed when for loop ends without a break statment

In [26]:
#break statement in for loop
for i in l:
    if i == "Ajay":
        break
    print(i)
else:
    print("This will be executed when for loop ends without a break statment")

1
2

In [27]:
for i in l:
    if i=="Ajay":
        continue
    print(i)
else:
    print("This will be executed when for loop ends without a break statment")

1
2
pwskills
This will be executed when for loop ends without a break statment

In [29]:
#for loop
marks = [70, 80, 90]

for m in marks:
    print(m)

70
80
90

In [5]:
name = "my name is ramesh ,ganesh , suresh , arti "
for m in range(10):
     for m in name:
          print(m)
          print(name)

m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
y
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
m
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti
g
my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
n
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
u
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
e
my name is ramesh ,ganesh , suresh , arti
s
my name is ramesh ,ganesh , suresh , arti
h
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
,
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti
a
my name is ramesh ,ganesh , suresh , arti
r
my name is ramesh ,ganesh , suresh , arti
t
my name is ramesh ,ganesh , suresh , arti
i
my name is ramesh ,ganesh , suresh , arti

my name is ramesh ,ganesh , suresh , arti

In [21]:
# nested loop 
for i in range(1, 4):
    for j in range(1, 5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [18]:
for class_no in range(1, 4):
    for student in range(1, 6):
        print("Class", class_no, "Student", student)

Class 1 Student 1
Class 1 Student 2
Class 1 Student 3
Class 1 Student 4
Class 1 Student 5
Class 2 Student 1
Class 2 Student 2
Class 2 Student 3
Class 2 Student 4
Class 2 Student 5
Class 3 Student 1
Class 3 Student 2
Class 3 Student 3
Class 3 Student 4
Class 3 Student 5

In [6]:
#print a right triangle with *  using while loop
row = 1
while row <= 10:
    col = 1
    while col <= row:
        print("*", end = " ")
        col = col+1
    print()
    row = row+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [17]:
#print a right triangle with *  using for loop
for i in range(4):
     for j in range(i+1):
          print("*", end = " ")
     print()

*
* *
* * *
* * * *

In [ ]:
#using  nested loop 
for i in range(10):
    for j in range(i+1):
        print("*", end = "")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [29]:
#internal homework>> square of star
# * * *
# * * *
# * * *
 
for i in range(3):
     for j in range(3):
          print("*" , end=" ")
     print()

* * *
* * *
* * *

In [30]:
side = 1
while side <= 3:
    width = 1
    while width <= 3:
        print("*", end=" ")
        width += 1
    print()
    side += 1

* * *
* * *
* * *

In [33]:
# write a program  to print the  pattern 
for i in range(1,6):
     print("pass", i ,"- ",end="")
     for j in range(1,6):
          print(j , end=" ")
     print()

pass 1 - 1 2 3 4 5
pass 2 - 1 2 3 4 5
pass 3 - 1 2 3 4 5
pass 4 - 1 2 3 4 5
pass 5 - 1 2 3 4 5

In [6]:
# triangle
r= 10 
for i in range(1,r+1):
     for j in range(1 , i+1):
          print("*", end= "$ ")
          
     print()

*$
*$ *$
*$ *$ *$
*$ *$ *$ *$
*$ *$ *$ *$ *$
*$ *$ *$ *$ *$ *$
*$ *$ *$ *$ *$ *$ *$
*$ *$ *$ *$ *$ *$ *$ *$
*$ *$ *$ *$ *$ *$ *$ *$ *$
*$ *$ *$ *$ *$ *$ *$ *$ *$ *$

In [7]:
# triangle
r= 10 
for i in range(r, 0 , -1):
     for j in range(i):
          print("*", end="@")     
     print()

*@*@*@*@*@*@*@*@*@*@
*@*@*@*@*@*@*@*@*@
*@*@*@*@*@*@*@*@
*@*@*@*@*@*@*@
*@*@*@*@*@*@
*@*@*@*@*@
*@*@*@*@
*@*@*@
*@*@
*@

In [14]:
# triangle
r= 6
for i in range(r ,0, -1):
     for j in range(i):
          print("*", end="$")
     print()

*$*$*$*$*$*$
*$*$*$*$*$
*$*$*$*$
*$*$*$
*$*$
*$

In [20]:
n= 7 
for i in range(1,7):
     for j in range(1 , i+1):
          print(j , end=" ")
     print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [41]:
n= 6
for i in range(n,0,-1):
     for j in range(1 , i+1):
          print(j , end=" ")
     print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [46]:
n= 6 
for i in range(n,0,-1):
     for j in range(i,0,-1 ):
          print(j , end=" ")
     print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [50]:

for i in range(1,6):
     for j in range(1 ,i+1):
          print(i , end=" ")
     print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
#multiplication table
for i in range(1, 6):
    for j in range(1, 11):
        product = i * j 
        print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# # write a program to print the following pattern 
# 1
# 12
# 123
# 1234
# 12345
# 123456

count=0
for i in range(1,7):
     for j in range(1,i+1):
          print(count,end="")
     count = count+1
     print()

0
11
222
3333
44444
555555

In [21]:
n= 5
for i in range(1,n+1):
     for k in range(n,i,-1):
          for j in range(1,i+1):
               print(j,end=" ")
          print()

1
1
1
1
1 2
1 2
1 2
1 2 3
1 2 3
1 2 3 4

In [38]:
n= 5
for i in range(1,n+1):
     for k in range (n,i,-1):
          print(" ",end=' ')
     for j in range(1,i+1):
          print(j, end= ' ')
     for l in range(i-1,0,-1):
          print(l, end=' ')
     print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [55]:
n= 5
for i in range(1,n+1):
    for k in range (n,i,-1):
       print(" ",end=' ')
    for j in range(1,i+1):
       print(i, end= ' ')
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [56]:
# determine to ountinue statements;
for i  in range (1,11):
     if i==8:
          continue
     print(i , end="")
     print("\n done")

1
 done
2
 done
3
 done
4
 done
5
 done
6
 done
7
 done
9
 done
10
 done

In [ ]:
# write a program to calculate  square root of a number , using break and continue statements:
import math
total_prime =0
total_composite= 0
while (1):
     num = int(input("enter number."))
     if num==999:
          break
     elif num<0:
          print("square root of negative number  can not be callable")
          continue
     else:
          print("square root of ", num,"= ",math.sqrt(num))

square root of  100 =  10.0
square root of  87 =  9.327379053088816
square root of  3 =  1.7320508075688772
square root of  9 =  3.0
square root of negative number  can not be callable
square root of  45 =  6.708203932499369
square root of  21 =  4.58257569495584
square root of  45 =  6.708203932499369
square root of  78 =  8.831760866327848
square root of  4125 =  64.22616289332565
square root of  556 =  23.57965224510319
square root of  625 =  25.0

In [ ]:
# program to print the calendar  of any year L
import calendar 
y = int(input("enter the year: "))
m = 1
print("\n ******** calendar ******** ")
cal= calendar.TextCalendar(calendar.SUNDAY)
i=1 
while i<=12:
     cal.prmonth(y,i)    
     i+=1

 ******** calendar ********
    January 1017
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
   February 1017
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28
     March 1017
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31
     April 1017
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30
      May 1017
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31
     June 1017
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30
     July 1017
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
    August 1017
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31
   September 1017
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30
    October 1017
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31
   November 1017
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30
   December 1017
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31