Functions :

 this is a block of code that ferform for specific task and  can be reused 
 
 types :

 Tow main types functions:

 1. predefine| built-n functions 
 2. user define functions 

covered 1 built -in function 
Types of Built-in Functions in Python
1. Input / Output

print(), input()

2. Type Conversion

int(), float(), str(), list(), tuple(), set(), bool()

3. Mathematical

abs(), round(), pow(), sum(), max(), min()

4. Sequence / Collection

len(), sorted(), reversed(), zip(), enumerate()

5. Logical

all(), any()

6. Object / Type Checking

type(), isinstance(), id()

7. Functional Programming

map(), filter()

8. Utility

help(), dir()     Etc 

 :-Common Built-in Functions (with examples)

print("Hello")          # displays output

input()                # takes user input

len([1,2,3])            # returns length

type(5)                 # returns data type

int("10")               # converts to integer

float(3)                # converts to float

str(100)                # converts to string

sum([1,2,3])            # returns total

max([1,5,3])            # returns maximum

min([1,5,3])            # returns minimum

abs(-7)                 # absolute value

sorted([3,2,1])         # sorted list

zip([1,2],[3,4])        # pairs elements

enumerate(["a","b"])    # index with value

all([True,True])        # True if all True

any([False,True])       # True if any True

isinstance(5,int)       # type checking

help(len)               # documentation


Python has 70+ built in function 

but thes are very use full in data science

In [ ]:
# TYPE 1: Input / Output Built-in Functions
print("Hello")          
name = input("Name: ")

Hello

In [4]:
# TYPE 2: Type Conversion Built-in Functions
int("10")        # string → int
float(5)         # int → float
str(100)         # number → string
list("abc")      # string → list
tuple([1,2])     # list → tuple
set([1,1,2])     # duplicate hata ke set
bool(0)          # False

False

In [5]:
# TYPE 3: Mathematical / Numeric Built-in Functions
abs(-10)         # positive value
round(3.6)       # round off
pow(2,3)         # power
sum([1,2,3])     # total
max([1,5,3])     # max value
min([1,5,3])     # min value

1

In [6]:
# TYPE 4: Sequence / Collection Built-in Functions

len([1,2,3])                 # length
sorted([3,1,2])              # sorting
list(reversed([1,2,3]))      # reverse
list(zip([1,2],[3,4]))       # pair banana
list(enumerate(["a","b"]))   # index + value

[(0, 'a'), (1, 'b')]

In [ ]:
# TYPE 5: Logical / Boolean Built-in Functions


all([True, True])     
any([False, True])

True

In [8]:
# TYPE 6: Object / Type Checking Built-in Functions
type(10)                  # data type
isinstance(10, int)       # type check
id(10)                    # memory address

140710489125960

In [ ]:
# TYPE 7: Functional Programming Built-in Functions

list(map(lambda x:x*x, [1,2,3]))        
list(filter(lambda x:x%2==0,[1,2,3,4]))

[2, 4]

In [10]:
# TYPE 8: Help / Utility Built-in Functions

help(len)        
dir(list)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

2. user define functions 

suer define function createdd by the user to perform specific task using (def) keywords

 only basics concepts :

In [3]:
#create a functions :

def my_function():
  print("Hello from a function")

In [5]:
# Calling a Function
# # To call a function, write its name followed by parentheses:

def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [6]:
#example
def name():
     print("my name is ramesh ")
name()

my name is ramesh

In [8]:
#example
def name():
     print("my name is ramesh ")
name()
name()
name()

my name is ramesh
my name is ramesh
my name is ramesh

In [ ]:
# # # how to write a function name 
# # # rules
# # A function name must start with a letter or underscore
# # A function name can only contain letters, numbers, and underscores
# # # Function names are case-sensitive (myFunction and myfunction are different)

# calculate_sum()
# _private_function()
# myFunction2()
# why use function
#  convert temperatures from Fahrenheit to Celsius several times in your program. Without functions,

In [1]:
# without function
temp1 = 77
celsius1 = (temp1 - 32) * 5 / 9
print(celsius1)

temp2 = 95
celsius2 = (temp2 - 32) * 5 / 9
print(celsius2)

temp3 = 50
celsius3 = (temp3 - 32) * 5 / 9
print(celsius3)

25.0
35.0
10.0

In [4]:
# with function
def fahrenheit_to_celsius(fahrenheit):
  return (fahrenheit - 32) * 5 / 9

print(fahrenheit_to_celsius(77))
print(fahrenheit_to_celsius(95))
print(fahrenheit_to_celsius(50))
print(fahrenheit_to_celsius(78))
print(fahrenheit_to_celsius(54))
print(fahrenheit_to_celsius(96))
print(fahrenheit_to_celsius(92.54))

25.0
35.0
10.0
25.555555555555557
12.222222222222221
35.55555555555556
33.63333333333334

In [ ]:
def get_greeting():
  return "hii my name is ramesh i from nepal:"

message = get_greeting()
print(message)

Hello from a function

In [2]:
def get_greeting():
  return "Hello from a function"

# print(get_greeting())
get_greeting()

'Hello from a function'

In [3]:
def greetings(name): #passing a variable inside a function >> name is positional arguement
    print("Welcome to the office", name)

In [4]:
greetings("ramehs")

Welcome to the office ramehs

In [5]:
greetings("khushi ")

Welcome to the office khushi

In [6]:
greetings("pintu")

Welcome to the office pintu

In [8]:
greetings() #it will throw error

TypeError: greetings() missing 1 required positional argument: 'name'

In [11]:
def greet(ajay):
    print("Welcome to the office", ajay)

In [12]:
greet("ramesh")

Welcome to the office ramesh

In [13]:
greet("khushi ")

Welcome to the office khushi

In [15]:
greet("ajay")

Welcome to the office ajay

In [17]:
def fun():
     print("do you love me ,yes/no")
fun()

do you love me ,yes/no

In [19]:
"do you love me "+ " yes i love you too much  "

'do you love me  yes i love you too much  '

In [21]:
fun()+ "yes" # it will throw errors

do you love me ,yes/no

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [23]:
print(type(fun()))

do you love me ,yes/no
<class 'NoneType'>

In [24]:
def func():#return>> output of a function
    #do something
    return "This is my first function"

func() + " in Python"

'This is my first function in Python'

In [27]:
def func():#return>> output of a function
    #do something
    return "This is my first function"

func() + " in Python"
# func() + " love "

'This is my first function in Python'

In [3]:
def my_fun():
     return "this is a my brother ",1,2,3,4,12.32,True,2+3j

In [4]:
my_fun()

('this is a my brother ', 1, 2, 3, 4, 12.32, True, (2+3j))

In [6]:
a= my_fun()
type(a)

tuple

In [12]:
a , b, c, d, e, f, g, h = my_fun()

In [13]:
a

'this is a my brother '

In [14]:
b

1

In [15]:
f

12.32

In [16]:
g

True

In [17]:
h

(2+3j)

In [20]:
a , b, c, d, e, f, g = my_fun() # it will throw errors

ValueError: too many values to unpack (expected 7)

'this is a my brother '

In [22]:
a= my_fun()
a

('this is a my brother ', 1, 2, 3, 4, 12.32, True, (2+3j))

In [23]:
a[2]

2

In [25]:
a[5]

12.32

In [29]:
a[6]

True

In [30]:
a[7]

(2+3j)

In [31]:
def func():
    calc = 2+3+6*5
    return calc

In [32]:
func()

35

In [34]:
s= func()
type(s)

int

Types of User-Defined Functions

1. Function without arguments

2. Function with arguments

3. Function with return value

4. Recursive function

5. Lambda function

In [ ]:
#1.function without arguments its coverd allredy

def my_name():
     print("introduce to your self ")
my_name()

introduce to your self

In [ ]:
# 2.function with arguments
#  
# what is arguments :

# pass any argumntes(like , name , values  etc) insde function point to print 

# A function with one argument:

def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [40]:
# pass number of arguments 
def my_function(name):
     print("hello ramesh",name)
my_function("chutiya")

hello ramesh chutiya

In [ ]:
def my_fn(name,surname):
     print(name + " "+ surname)
my_fn("ramesh","kumar")

ramesh kumar

In [49]:
def my_fn(name,surname): # it will  throw error , mising arguments
     print(name + " "+ surname)
my_fn("ramesh")

TypeError: my_fn() missing 1 required positional argument: 'surname'

In [51]:
# Default Parameter Values

def my_function(name = "friend"):
  print("Hello","ramesh",name)

my_function("Emil")
my_function("Tobias")
my_function()# use the default values 
my_function("Linus")

Hello ramesh Emil
Hello ramesh Tobias
Hello ramesh friend
Hello ramesh Linus

In [53]:
def my_function(country = "Norway"):
  print("I am from", country)

my_function("Sweden")
my_function("India")
my_function() # use default value
my_function("Brazil")
my_function("pakishtan")
my_function("america")
my_function("russia")
my_function("poland")
my_function("china")

I am from Sweden
I am from India
I am from Norway
I am from Brazil
I am from pakishtan
I am from america
I am from russia
I am from poland
I am from china

In [61]:
# Keyword Arguments
# You can send arguments with the key = value syntax.

def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(animal = "dog", name = "Buddy")

I have a dog
My dog's name is Buddy

In [ ]:
def my_function(animal, name):
  
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(name = "Buddy", animal = "dog")
my_function(name = "ramesh", animal = "dog")

SyntaxError: expected ':' (2188450941.py, line 1)

In [ ]:
# Positional Arguments

def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function(animal="dog",name= "Buddy") # using key

I have a dog
My dog's name is Buddy

In [67]:
def my_function(animal, name):
  print("I have a", animal)
  print("My", animal + "'s name is", name)

my_function("dog", "Buddy") # without usinng key

I have a dog
My dog's name is Buddy

In [70]:
#mixing positinal nad keyword argumnents
def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)

my_function(animal="dog",name= "Buddy", age = 5)

I have a 5 year old dog named Buddy

In [72]:
def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)

my_function("dog" ,"Buddy", age = 5)

I have a 5 year old dog named Buddy

In [74]:
def my_function(animal, name, age):
  print("I have a", age, "year old", animal, "named", name)

my_function("dog", "Buddy", 5)

I have a 5 year old dog named Buddy

In [77]:
#passing defferent data types :
# You can send any data type as an argument to a function (string, number, list, dictionary, etc.).

def my_function(fruits):
#   for fruit in fruits:
    print(fruits)

my_fruits = ["apple", "banana", "cherry"]
my_function(my_fruits)

['apple', 'banana', 'cherry']

In [80]:
def my_function(fruits):
  for fruit in fruits:
    print(fruit)

my_fruits = ["apple", "banana", "cherry"]
# my_fruits= (1,2,3)
my_function(my_fruits)

apple
banana
cherry

In [82]:
def my_function(fruits):
  for fruit in fruits:
    print(fruit)

# my_fruits = ["apple", "banana", "cherry"]
my_fruits= (1,2,3)
my_function(my_fruits)

1
2
3

In [83]:
def my_function(person):
  print("Name:", person["name"])
  print("Age:", person["age"])

my_person = {"name": "Emil", "age": 25}
my_function(my_person)

Name: Emil
Age: 25

In [88]:
#return:

def my_function(x, y):
  return x + y

result = my_function(5, 3)
print(result)
x=12
y= 34

8

In [89]:
#returns different data types 

def my_function():
  return ["apple", "banana", "cherry"]

fruits = my_function()
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [90]:
def my_function():
  return (10, 20)

x, y = my_function()
print("x:", x)
print("y:", y)

x: 10
y: 20

In [97]:
#only-arguments
def my_function(name, /):
  print("Hello", name)

my_function("Emil")

Hello Emil

In [100]:
def my_function(name):
  print("Hello", name)

my_function(name = "ankit ")

Hello ankit

In [ ]:
def my_function(name,/): # it will throw error ,becouse it use only arguments , not keyword 
  print("Hello", name)

my_function(name = "Emil")

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'name'

In [99]:
#keyword-only arguments
def my_function(*, name):
  print("Hello", name)

my_function(name = "ramesh")

Hello ramesh

In [102]:
def my_function( name):
  print("Hello", name)

my_function( "ramesh")

Hello ramesh

In [104]:
def my_function(*, name): # it will throw error 
  print("Hello", name)

my_function( "Emil")

TypeError: my_function() takes 0 positional arguments but 1 was given

In [106]:
def my_function(a, b, /, *, c, d): #when combing posotinal-only and keyword-only
  return a + b + c + d

result = my_function(5, 10, c = 15, d = 20)
print(result)

50

In [107]:
def my_function(a, b, /, *, c, d):
  return a + b + c + d

result = my_function(5, 10,  15, d = 20)
print(result)

TypeError: my_function() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [110]:
def my_function(a, b, /, *, c, d):
  return a + b + c + d

result = my_function(a= 5,b= 10, c = 15, d = 20)
print(result)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'a, b'

In [54]:
def square_no(a): #a is called as an arguement
    return a*a

In [56]:
square_no(25)

625

In [57]:
square_no(5)

25

In [58]:
def square_no(args):
    return args*args

square_no(106)

11236

In [59]:
square_no(100)

10000

In [60]:
square_no(80251)

6440223001

In [112]:
def sum1(a, b, c=0): #non-default argument follows default argument
    return a+b+c

In [117]:
sum1(1,2)

3

In [118]:
sum1(1,2,3)

6

In [119]:
def sum1(a, b, c): #non-default argument follows default argument
    return a+b+c

In [120]:
sum1(1,2,3)

6

In [121]:
sum1(1,2)

TypeError: sum1() missing 1 required positional argument: 'c'

In [122]:
def sum1(a, b, c=0): #non-default argument follows default argument
    return a+b+c

In [124]:
sum1(1,2,3)

6

In [125]:
def sum1(a=0, b=0, c=0): #non-default argument follows default argument
    return a+b+c

In [126]:
sum1(1,2,3)

6

In [127]:
sum1(1.3)

1.3

In [128]:
sum1(23.3,3)

26.3

In [129]:
def sum1(a=5, b=0, c=0): #non-default argument follows default argument
    return a+b+c

In [130]:
sum1(1,2)

3

In [131]:
sum1()

5

In [133]:
sum1(c=2)

7

In [134]:
sum1(b=5)

10

In [135]:
def add_two_number():
    a = int(input("enter the first no"))
    b = int(input("enter the second no"))
    return a+b

In [136]:
add_two_number()

39

1. Arbitrary Positional Arguments (*args):

If you're unsure how many arguments will be passed, use *args to accept any number of 
positional arguments. 

Purpose:  Allows you to pass a variable number of positional arguments.

Type:  The arguments are stored as a tuple.

Usage:  Use when you want to pass multiple values that are accessed by position.

Example 1:

def add_numbers(*args):

 return sum(args)

# Any number of arguments

result = add_numbers(1, 2, 3, 4)

print(result)# Output: 10

Note: Here, *args collects all the passed arguments into a tuple, & sum() function adds them.

Example 2:

def greetings(*names):

 for name in names:

 print(f"Hello, {name}!")

greetings("Madhav", "Rishabh", "Visakha")

# Output:

Hello, Madhav!

Hello, Rishabh!

Hello, Visakha!

2. Arbitrary Keyword Arguments (**kwargs)

If you want to pass a variable number of keyword arguments, use **kwargs.

Purpose: Allows you to pass a variable number of keyword arguments (arguments with names).

Type: The arguments are stored as a dictionary. 

Usage: Use when you want to pass multiple values that are accessed by name

Example 1:
def print_details(**kwargs):

 for key, value in kwargs.items():

 print(f"{key}: {value}")

print_details(name="Madhav", age=26, city="Delhi")

# Output:

name: Madhav

age: 26

city: Delhi

Example 2:

def shopping_cart(**products):

 total = 0

 print("Items Purchased:")

 for item, price in products.items():

 print(f"{item}: ₹{price}")

 total += price

 print(f"Total: ₹{total}")

# multiple keyword arguments

shopping_cart(apple=15, orange=12, mango=10)

# Output:

Items Purchased:

apple: ₹15

orange: ₹12

mango: ₹10

Total: ₹37

In [ ]:
#*args:

def add_numbers(*args):
    total = 0
    for i in args:
        total += i
    return total

print(add_numbers(5, 10, 15))

30

In [139]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [143]:
def my_name(*args):
     return args

In [144]:
my_name(1,2)

(1, 2)

In [145]:
my_name(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [146]:
for i in (1, 2, 3, 4, 5, 6):
     print(i)

1
2
3
4
5
6

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[3])

my_function("Emil", "Tobias", "Linus","cpu")

The youngest child is cpu

In [157]:
def my_function(*args):
  print("Type:", type(args))
  print("First argument:", args[0])
  print("Second argument:", args[1])
  print("All arguments:", args)
  print("All arguments:", args[3])


my_function("Emil", "Tobias", "Linus","kapil")

Type: <class 'tuple'>
First argument: Emil
Second argument: Tobias
All arguments: ('Emil', 'Tobias', 'Linus', 'kapil')
All arguments: kapil

In [158]:
#A function which can take any no of values and return the sum

def sum1(*args):
    s = 0
    for i in args:
        s = s+i
    return s

In [160]:
sum1(10,20)

30

In [161]:
sum1(6,54,8,7,5,)

80

In [163]:
sum1(6,54,8,7,5,"ramesh") # it will throw errors

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [164]:
#variable arguement with default arguement
def test(*args, a):
    return args, a

In [165]:
test(1,25,8,a=54)

((1, 25, 8), 54)

In [166]:
#variable arguement >> takes any no of argement
#positional argement>> fixed argement

In [167]:
#write a function can take any no of values and returns the list
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [168]:
return_list(1, 2, 2.3, 5+7j, {2,3},[4, 5, [6, 7]], [1, 2, 3, 4], (2,3), True, "Ajay")

[[4, 5, [6, 7]], [1, 2, 3, 4]]

In [169]:
def team(name, project):
    return f"{name} is working on {project}."

team("Ajay", "CV")

'Ajay is working on CV.'

In [174]:
# Using *args with Regular Arguments
def my_function(greeting, *names):
  for name in names:
    print(greeting, name)

my_function("Hello", "Emil", "Tobias", "Linus","ramesh")

Hello Emil
Hello Tobias
Hello Linus
Hello ramesh

In [173]:
def student_info(name, *marks):
    print("Name:", name)
    print("Marks:", marks)

student_info("Ramesh", 80, 85, 90,34)

Name: Ramesh
Marks: (80, 85, 90, 34)

In [175]:
#**kwargs

def show_details(**kwargs):
    print(kwargs)

show_details(name="Ramesh", age=22, course="AI & DS")

{'name': 'Ramesh', 'age': 22, 'course': 'AI & DS'}

In [176]:
#**kwargs

def show_details(**kwargs):
    print(kwargs)

show_details(name="Ramesh", age=22, course="AI & DS", id="120021")

{'name': 'Ramesh', 'age': 22, 'course': 'AI & DS', 'id': '120021'}

In [182]:
def my_function(**myvar):
  print("Type:", type(myvar))
  print("Name:", myvar["name"])
  print("Age:", myvar["age"])
  print("All data:", myvar)

my_function(name = "Tobias", age = 30, city = "Bergen")

Type: <class 'dict'>
Name: Tobias
Age: 30
All data: {'name': 'Tobias', 'age': 30, 'city': 'Bergen'}

In [183]:
def my_function(username, **details):
  print("Username:", username)
  print("Additional details:")
  for key, value in details.items():
    print(" ", key + ":", value)

my_function("emil123", age = 25, city = "Oslo", hobby = "coding")

Username: emil123
Additional details:
  age: 25
  city: Oslo
  hobby: coding

In [177]:
def employee(id, **details):
    print("ID:", id)
    print("Details:", details)

employee(101, name="Amit", salary=50000)

ID: 101
Details: {'name': 'Amit', 'salary': 50000}

In [180]:
def demo(x, y, *args, **kwargs):
    print(x, y)
    print(args)
    print(kwargs)

demo(1, 2, 3, 4,5, name="Ramesh", role="DS",id="220010")

1 2
(3, 4, 5)
{'name': 'Ramesh', 'role': 'DS', 'id': '220010'}

In [181]:
def train_model(data, *features, **params):
    print("Data:", data)
    print("Features:", features)
    print("Parameters:", params)

train_model(
    "dataset.csv",
    "age", "salary",
    epochs=100,
    lr=0.01
)

Data: dataset.csv
Features: ('age', 'salary')
Parameters: {'epochs': 100, 'lr': 0.01}

In [184]:
def my_function(title, *args, **kwargs):
  print("Title:", title)
  print("Positional arguments:", args)
  print("Keyword arguments:", kwargs)

my_function("User Info", "Emil", "Tobias", age = 25, city = "Oslo")

Title: User Info
Positional arguments: ('Emil', 'Tobias')
Keyword arguments: {'age': 25, 'city': 'Oslo'}

In [185]:
# Using * to unpack a list into arguments:

def my_function(a, b, c):
  return a + b + c

numbers = [1, 2, 3]
result = my_function(*numbers) # Same as: my_function(1, 2, 3)
print(result)

6

In [186]:
# Using ** to unpack a dictionary into keyword arguments:

def my_function(fname, lname):
  print("Hello", fname, lname)

person = {"fname": "Emil", "lname": "Refsnes"}
my_function(**person) # Same as: my_function(fname="Emil", lname="Refsnes")

Hello Emil Refsnes