# Lambda Function:

- ontains only one expression 
- using the lambda keywords 
- automatically return the result 
# syntax:
- lambda arguments: expression

- lambda function>> anonymous function
- syntax : lambda arguments : expression >>  
- no need of return statement and def keyword

In [2]:
#normal funntion 
def add(a, b):
    return a + b

In [3]:
add=lambda a ,b : a+b

In [4]:
add(12,23)

35

In [5]:
square = lambda x: x*x
print(square(5))

25

In [6]:
# Multiply argument a with argument b and return the result:..

x = lambda a, b : a * b
print(x(5, 6))

30

In [7]:
# sub argument a with argument b and return the result:

x = lambda a, b : a - b
print(x(5, 6))

-1

In [8]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [9]:
def square(x):
    return x**2
square(2)

4

In [10]:
sq_lambda = lambda x: x**2

In [11]:
sq_lambda(2)

4

In [13]:
sq_lambda(5)

25

In [14]:
sq_lambda(225)

50625

In [15]:
addition= lambda a,b,c: a+b+c

In [16]:
addition(2,45,12)

59

In [18]:
addition(52,45,12)

109

In [19]:
is_even = lambda x: x%2 == 0
is_even(4)

True

In [20]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [21]:
#sorted
name=["ramesh","mukesh","anil","khushi"]

In [27]:
sorted(name)

['anil', 'khushi', 'mukesh', 'ramesh']

In [25]:
#sort the list based on length of element of list
le = lambda x: len(x)
le("ramehskumar")

11

In [26]:
le("mjdbh vd vjfv df vhbf")

21

In [29]:
sorted(name, key = lambda x: len(name))

['ramesh', 'mukesh', 'anil', 'khushi']

In [31]:
#fib 
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [32]:
#factorial of 5 >> 5*4*3*2*1 and 0! is 1
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1)

In [33]:
fact_num(25)

15511210043330985984000000

In [34]:
fact_num = lambda n: 1 if n==0 else n*fact_num(n-1)
fact_num(5)

120

In [35]:
fact_num(10)

3628800

In [38]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [1]:
l = [1, 2, 3, 4, 5]
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [6]:
square(l)

[1, 4, 9, 16, 25]

In [7]:
def sq(x):
    return x**2

In [8]:
l

[1, 2, 3, 4, 5]

In [9]:
#map(func, iterable)
list(map(sq, l))

[1, 4, 9, 16, 25]

In [ ]:
def add(x):
    return x+10

list(map(add, l))

[11, 12, 13, 14, 15]

In [ ]:
def add(x):
    return x+25

list(map(add, l))

[26, 27, 28, 29, 30]

In [ ]:
def add(x):
    return x*10

list(map(add, l))

[10, 20, 30, 40, 50]

In [13]:
#using lambda with map
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25]

In [3]:
nums = [1, 2, 3, 4]

result = map(lambda x: x*x, nums)
print(list(result))

[1, 4, 9, 16]

In [15]:
n= (1,2,3,4,5)
m=list(map(lambda n: n*n, n))
print(m)

[1, 4, 9, 16, 25]

In [12]:
nums = [1, 2, 3, 4]

result = list(map(lambda x: x*x, nums))
print(result)

[1, 4, 9, 16]

In [37]:
b=["ramesh","khushi","ajeet"]
das=list(map(lambda x: len(b)<100,b))
print(das)

[True, True, True]

In [26]:
celsius = [0, 10, 20]

fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0]

In [31]:
# filter
nums = [1, 2, 3, 4, 5, 6]

result = list(filter(lambda x: x % 2 == 0, nums))
print(result)

[2, 4, 6]

In [38]:
names = ["ram", "shyam", "ramesh", "om"]

result = list(filter(lambda x: len(x) > 4, names))
print(result)

['shyam', 'ramesh']

In [39]:
# reduce 
from functools import reduce

nums = [1, 2, 3, 4]

result = reduce(lambda a, b: a + b, nums)
print(result)

10

In [40]:
nums = [10, 45, 23, 90]

max_num = reduce(lambda a, b: a if a > b else b, nums)
print(max_num)

90

In [ ]:
#sorted 

nums = [-10, 5, -3, 2]

result = sorted(nums, key=lambda x: (x))
print(result)

[-10, -3, 2, 5]

In [43]:
students = [("Ram", 80), ("Shyam", 60), ("Amit", 90)]

result = sorted(students, key=lambda x: x[1])
print(result)

[('Shyam', 60), ('Ram', 80), ('Amit', 90)]

In [44]:
#the highest values at each stage you are comparing x and y
numbers = [1, 2, 5, 3, 100, 1000, 6, 10000]
reduce(lambda x, y: x if x>y else y, numbers)

10000

In [45]:
def factorial(n):
    return reduce(lambda x, y: x*y, range(1, n+1))

In [46]:
factorial(10)

3628800

In [47]:
factorial(8)

40320

In [48]:
factorial(4)

24